<button class="btn btn-sm btn-link btn-logout" (click)="logout()">
  Выйти
  <fa-icon class="ml-1" [icon]="['fas', 'sign-out-alt']"></fa-icon>
</button>

<div class="container">
  <div class="row text-center justify-content-center">
    <h1>Личный кабинет</h1>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="avatar">
        <fa-layers class="fa-5x fa-fw">
          <fa-icon [icon]="['fas', 'user']"></fa-icon>
        </fa-layers>
      </div>
    </div>
    <div class="col">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Ребёнок</th>
            <th scope="col">Пакект услуг</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let kid of kids">
            <td>{{ kid.name }}</td>
            <td>{{ kid.package }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let tab of tabs">
        <a class="nav-link" [ngClass]="{active: selectedTab === tab.title}" (click)="selectTab($event, tab.title)" href="#">{{ tab.titleRus }}</a>
      </li>
    </ul>
  </div>
</div>

