@import "variables";
@import "mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: $font-primary;
  background: $color-bg;
  color: $color-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  color: $color-secondary;
}

// For responsive features
@media (max-width: 575px) {} // xxs
@media (min-width: 576px) and (max-width: 767px) {} // xs
@media (min-width: 768px) and (max-width: 991px) {} // sm
@media (min-width: 992px) and (max-width: 1199px) {} // md
@media (min-width: 1200px) {} // lg


h1 {
  width: 100%;
  margin-top: 40px;
}

p {
  display: block;
  width: 100%;
}

// валидация форм
input.ng-touched { //.ng-touched
  &.ng-valid {
    border-color: $green;
    background-color: lighten($green, 40);

    & ~ .fa-check {
      display: inline-block;
    }
  }

  &.ng-invalid {
    border-color: $red;
    background-color: lighten($red, 40);

    & ~ .fa-times {
      display: inline-block;
    }
  }
}

.text-italic {
  font-style: italic;
}