<button class="btn btn-sm btn-link btn-login" (click)="login()">
  Войти
  <fa-icon class="ml-1" [icon]="['fas', 'sign-in-alt']"></fa-icon>
</button>

<div class="container">
  <div class="row text-center justify-content-center">
    <h1>Войти как</h1>
    <div>
      <div class="row">
        <div class="col role" *ngFor="let profile of profiles" (click)="login()">
          <fa-layers class="fa-5x fa-fw">
            <fa-icon [icon]="['fas', profile.icon]"></fa-icon>
          </fa-layers>
          <p class="mt-2">{{ profile.type }}</p>
        </div>
      </div>
    </div>
  </div>
</div>