<button class="btn btn-sm btn-link btn-login" (click)="login()">
  Войти
  <i class="fas fa-sign-in-alt ml-1"></i>
</button>

<div class="container">
  <div class="row text-center justify-content-center">
    <h1>Лендинг</h1>
    <div class="mt-5">
      <fa-layers class="fa-5x fa-fw">
        <fa-icon [icon]="['fas', 'user-graduate']"></fa-icon>
      </fa-layers>
      <p>У нас тут классно!</p>
      <button class="btn btn-sm btn-success mt-3" (click)="login()">Зарегайся!</button>
    </div>
  </div>
</div>